NODE_ENV=development

PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=star_wars_movies
DATABASE_USER=postgres
DATABASE_PASSWORD=

JWT_SECRET=
JWT_EXPIRES_IN=15m

SWAPI_BASE_URL=https://www.swapi.tech/api

ADMIN_EMAIL=
ADMIN_PASSWORD=